// ==========================================================
// common & element
// ==========================================================

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  font-size: $base_fz;
  @include reset-margins;
  height: 100%;
}

* {
}

// ==========================================================
// a, ul, nav, form, input, img, color, btn
// ==========================================================
a {
  text-decoration: none !important;
  color: $black;
}
button {
  background-color: transparent;
  font-size: 1rem;
  -webkit-appearance: none;
  box-shadw: none;
  border: none;
}

p,
ul {
  @include reset-margins;
}

li {
  list-style: none;
}

form {
  // width:100%;
  // text-align:center;
  // display:block;
}

input {
  &.btn--input {
    position: absolute;
    opacity: 0;
    & + span {
      display: inline-block;
      border-radius: 5px;
      padding: 8px 20px;
      background-color: $green_l2;
      color: $green_l;
      margin-right: 5px;
    }

    &:checked ~ span {
      background-color: $green;
      color: $white;
    }
  }
}

textarea:-ms-input-placeholder,
textarea:-webkit-input-placeholder,
textarea:-moz-placeholder {
}

img {
  width: 100%;
}

// ==========================================================
// Content layout
// ==========================================================
.title {
  &-2 {
    margin-top: 50px;
    text-align: center;
    line-height: 1;
  }
}
.container {
  max-width: 620px;
  min-height: calc(100% - 27px);
  margin: 0 auto;
  padding: 20px 20px 30px;
  text-align: center;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;

  &--title {
    font-family: $base_b_ff;
    font-size: 1.3rem;
    margin-bottom: 12px;
  }
}

footer {
  width: 100%;
  background-color: $gray;
  padding: 6px 20px;
  text-align: center;
  p {
    color: $black;
    font-size: 0.6rem;
  }
}

.btn {
  width: 70%;
  border-radius: 5px;
  font-family: $base_b_ff;
  font-weight: 700;
  padding: 12px 10px;
  margin: 0 auto 10px;

  &:last-child {
    margin-bottom: 0;
  }
  &--type1 {
    background-color: $green;
    color: $white;
  }
  &--type2 {
    border: 1px solid $green;
  }

  &--big {
    min-height: 100px;
  }

  &-home {
    margin: 20px 0 25px;
  }
}

.pick {
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    // grid-template-columns: repeat(8, 1fr);
    // grid-auto-rows: 1fr;
    // grid-gap: 10px;

    // &::before {
    //   content: "";
    //   width: 0;
    //   padding-bottom: 100%;
    //   grid-row: 1 / 1;
    //   grid-column: 1 / 1;
    // }
    // & > *:first-child {
    //   grid-row: 1 / 1;
    //   grid-column: 1 / 1;
    // }
  }
  width: calc((100% - 70px) / 8);
  background-color: $green_l;
  color: #a1e3b0;
  font-family: $base_b_ff;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 4px;
  @include mq("phone") {
    padding: 6px;
  }

  &:first-child,
  &:nth-child(9) {
    margin-left: 0;
  }

  &--current {
    border: 3px solid $green;
    color: $white;
  }

  &--picked {
    background-color: $green;
    color: $white;
  }
  &-no-match {
    color: $red;
  }
}

.ave-range {
  &__state {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    > div {
      font-family: $base_b_ff;
      font-size: 1.25rem;
    }
    .win {
      color: $green;
    }
    .lose {
      color: $green_l2;
    }
  }
  &__result {
    margin-bottom: 20px;
  }
  &__result__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    p {
      position: relative;
      &.tag-mine {
        $tag-size: 12px;
        &::before {
          content: "MY";
          width: $tag-size;
          height: $tag-size;
          color: $white;
          display: block;
          background-color: $red;
          background-size: 12px 12px;
          font-size: 5px;
          border-radius: $tag-size;
          line-height: $tag-size;
          position: absolute;
          right: -20px;
          top: 6px;
        }
      }

      &:last-child {
        &.tag-mine {
          &::before {
            right: initial;
            left: -20px;
          }
        }
      }
    }
  }

  &__bar {
    position: relative;
    background-color: $green_l2;
    overflow: hidden;

    .move-bar {
      width: 59.2%;
      height: 100%;
      min-height: 24px;
      background-color: $green;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__bar__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    &-l {
      color: $white;
      padding-left: 10px;
    }
    &-r {
      padding-right: 10px;
    }
  }
}

.accumulate__text {
  font-size: 0.7rem !important;
  margin-bottom: 12px;
  span {
    font-size: 0.7rem;
  }
}

.match {
  font-family: $base_ff;
  margin-top: 24px;
  span {
    color: $green;
    font-size: 1.5rem;
    font-family: $base_b_ff;
  }
}

.url {
  margin-top: 12px;
}
