// ==========================================================
// common & element
// ==========================================================

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  font-size: $base_fz;
  @include reset-margins;
  height: 100%;
  height: 100svh;
}

* {
}

// ==========================================================
// a, ul, nav, form, input, img, color, btn
// ==========================================================
a {
  text-decoration: none !important;
  color: $black;
}
button {
  background-color: transparent;
  font-size: 1rem;
  -webkit-appearance: none;
  box-shadw: none;
  border: none;
}

p,
ul {
  @include reset-margins;
}

li {
  list-style: none;
}

form {
  // width:100%;
  // text-align:center;
  // display:block;
}

input {
  &.btn--input {
    position: absolute;
    opacity: 0;
    & + span {
      display: inline-block;
      border-radius: 5px;
      padding: 8px 20px;
      background-color: $green_l2;
      color: $green_l;
      margin-right: 5px;
    }

    &:checked ~ span {
      background-color: $green;
      color: $white;
    }
  }
}

textarea:-ms-input-placeholder,
textarea:-webkit-input-placeholder,
textarea:-moz-placeholder {
}

img {
  width: 100%;
}

// ==========================================================
// Content layout
// ==========================================================
.title {
  &-2 {
    margin-top: 50px;
    text-align: center;
    line-height: 1;
  }
}
.container {
  max-width: 620px;
  min-height: calc(100% - 67px);
  margin: 0 auto;
  padding: 20px 20px 30px;
  text-align: center;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;

  &--title {
    font-family: $base_b_ff;
    font-size: 1.3rem;
    margin-bottom: 12px;
  }
}

footer {
  width: 100%;
  background-color: $gray;
  padding: 6px 20px;
  text-align: center;
  p {
    color: $black;
    font-size: 0.6rem;
  }
}

.btn {
  width: 70%;
  border-radius: 5px;
  font-family: $base_b_ff;
  font-weight: 700;
  padding: 12px 10px;
  margin: 0 auto 10px;

  &:last-child {
    margin-bottom: 0;
  }
  &--type1 {
    background-color: $green;
    color: $white;
  }
  &--type2 {
    border: 1px solid $green;
  }

  &--big {
    min-height: 100px;
  }

  &-home {
    margin: 20px 0 25px;
  }
}

.pick {
  &__wrap {
    display: flex;
    flex-flow: row wrap;
  }
  width: calc((100% - 70px) / 8);
  height: 30px;
  line-height: 30px;
  background-color: $green_l;
  color: #a1e3b0;
  font-family: $base_b_ff;
  margin-left: 10px;
  margin-bottom: 10px;
  @include mq("phone") {
    height: 36px;
    line-height: 36px;
  }

  &:first-child,
  &:nth-child(9) {
    margin-left: 0;
  }

  &--current {
    border: 3px solid $green;
    color: $white;
  }

  &--picked {
    background-color: $green;
    color: $white;
  }
  &-no-match {
    color: $red;
  }
}

.ave-range {
  &__state {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    > div {
      font-family: $base_b_ff;
      font-size: 1.25rem;
    }
    .win {
      color: $green;
    }
    .lose {
      color: $green_l2;
    }
  }
  &__result {
    margin-bottom: 20px;
  }
  &__result__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    p {
      position: relative;
      &.tag-mine {
        $tag-size: 12px;
        &::before {
          content: "MY";
          width: $tag-size;
          height: $tag-size;
          color: $white;
          display: block;
          background-color: $red;
          background-size: 12px 12px;
          font-size: 5px;
          border-radius: $tag-size;
          line-height: $tag-size;
          position: absolute;
          right: -20px;
          top: 6px;
        }
      }

      &:last-child {
        &.tag-mine {
          &::before {
            right: initial;
            left: -20px;
          }
        }
      }
    }
  }

  &__bar {
    position: relative;
    background-color: $green_l2;
    overflow: hidden;

    .move-bar {
      width: 59.2%;
      height: 100%;
      min-height: 24px;
      background-color: $green;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__bar__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    &-l {
      color: $white;
      padding-left: 10px;
    }
    &-r {
      padding-right: 10px;
    }
  }
}

.accumulate__text {
  font-size: 0.7rem !important;
  margin-bottom: 12px;
  span {
    font-size: 0.7rem;
  }
}

.match {
  font-family: $base_ff;
  margin-top: 24px;
  span {
    color: $green;
    font-size: 1.5rem;
    font-family: $base_b_ff;
  }
}

.url {
  margin-top: 12px;
}

// footer animation

.ocean {
  height: 40px;
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  overflow: hidden;

  &-view {
    background: linear-gradient(to bottom, #8fdced 25%, #7fcdff, #357a9b);
    width: 1250px;
    height: 100%;
    position: relative;

    .wave {
      background: rgba(24, 138, 200, 0.52);
      border-radius: 1000% 1000% 0 0;
      box-shadow: 0px 0px 5px rgba(219, 235, 250, 0.7);
      width: 1500px;
      height: 45%;
      opacity: 0.9;
      position: absolute;
      left: -5%;
      &:nth-child(1n) {
        bottom: 10px;
        animation: wave 18s ease-in-out reverse infinite;
        opacity: 0.8;
      }

      &:nth-child(2n) {
        bottom: 5px;
        left: -30%;
        animation: wave2 20s -1s reverse infinite;
      }
      &:nth-child(3n) {
        bottom: 0px;
        left: -10%;
        animation: wave3 20s -1s reverse infinite;
      }
    }

    @keyframes wave {
      0% {
        transform: translate(-10%, 52%);
      }
      25% {
        transform: translate(-25%, 35%);
      }
      50% {
        transform: translate(-30%, 0%);
      }
      25% {
        transform: translate(-25%, 35%);
      }
      100% {
        transform: translate(-10%, 52%);
      }
    }

    @keyframes wave2 {
      0% {
        transform: translate(-10%, 45%);
      }
      25% {
        transform: translate(-25%, 25%);
      }
      50% {
        transform: translate(-30%, 10%);
      }
      25% {
        transform: translate(-25%, 25%);
      }
      100% {
        transform: translate(-10%, 45%);
      }
    }
  }
  @keyframes wave3 {
    0% {
      transform: translate(-10%, 38%);
    }
    25% {
      transform: translate(-25%, 15%);
    }
    50% {
      transform: translate(-50%, 0%);
    }
    25% {
      transform: translate(-25%, 15%);
    }
    100% {
      transform: translate(-10%, 38%);
    }
  }
}

.boat {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 38%;
}
